* {
	box-sizing: border-box;
   }
   html {
	font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
   }
   body {
	/* height: 100vh; */
	font: 1.6rem Helvetica, Arial;
	margin: 0;
	background-color: black;
	

	}
	
	
   /*  form */
   
   
   
   /* style the container */
   .container {
	margin:  0 10em 0 10em;
	margin-top: 7em;
	/* position: relative; */
	border-radius: 5px;
	background-color: white;
	padding: 20px 20px 30px 0;
	height: 100vh;
   } 
   
   /* style inputs and link buttons */
   input, a,
   .btn {
	width: 100%;
	padding: 15px;
	border: none;
	border-radius: 4px;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none; /* remove underline from anchors */
   }
   a{
	background-color: blue;  
	margin-top: 2em;
	color: white;
	text-align: center;
   }
   a:hover{
	   background-color:  #45a049;;
   }
   
   input:hover,
   .btn:hover {
	opacity: 1;
   }
   .forgot{
	display: flex ;
	
	   

   }
   button{
	   width: 40%;
	   background-color: white;
	   border: solid 2px white;
	   margin-left: 10em;
	   
   }
   
   input[type=checkbox] {
	margin-right: 1em;
	margin-top: 1.5em;
   }
   
   
   /* style the submit button */
   input[type=submit] {
	background-color: blue;
	color: white;
	cursor: pointer;
   }
   .eye, i {
	margin-left: -0px;
	cursor: pointer;
	display: flex;
  }
   .fa-eye{
	   background-color: white;
	   height: 2px;
	   margin-top: 50px;
   }
   input[type=submit]:hover {
	background-color: #45a049;
   }
   
   .col  {
	float: left;
	width: 50%;
	margin: auto;
	padding: 0 50px;
	margin-top: 6px;
   }
    
   
   
   /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 650px) {
	.col {
	  width: 100%;
	  margin-top: 0;
	}
	/* hide the vertical line */
	#createaccount {
	  margin: auto;
	  
	
	}
	
   }
   
  
   
   
   input {

	
	cursor: pointer;
	margin-top: 2em;
	border-top-style:hidden;
	border-left-style:hidden;
	border-right-style:hidden;
	border-bottom-style:groove;
	
 }
 .eye i {
	margin-left: -50px;
	cursor: pointer;
	background-color: black;
 }
   
   
  
    
   /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
   @media only screen and (max-width: 1000px) {
	.container{
		
		     display: block;
			position: relative;
			border-radius: 20px;
		     margin: auto;
		   }
		   
   }
   
   
  