<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dealpot</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/loader.css">
</head>

<body>
  <%- include('header') -%>

    <!--Modal Popup-->
    
    <!-- <div class="modal-ven hide">
          <button class="close">X</button>
          <h2 class="modal-heading">Register or Login</h2>
          <a class="getButton" href="/auth/google" id="register">Continue with Google</a> -->
    </div>
    <main id="main-search" data-url="<%=urlPath%>">
      <div class="deals">
      
        <div class="row" id="display-products">
          <div class="loader"></div>
        </div>
      </div>
    </main>
    
    <div class="hide" id="scrollToTop"><i class="fas fa-angle-double-up"></i></div>
    <nav aria-label="..." class="text-center hide" id="pagination-nav">
      <ul class="pagination">
        <li class="page-item disabled" id="previous-btn">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item" id="first-pagination"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <span class="page-link" id="current-pagination">
            2
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item"><a class="page-link" href="#" id="last-pagination">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" id="next-btn">Next</a>
        </li>
      </ul>
    </nav>

    <%- include('footer') -%>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="/js/script.js"></script>
      <!-- <script src="/js/index.js"></script> -->
      <script src="/js/search.js"></script>

</body>

</html>