
.navigate{
    width: 40%;
    margin: 1rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hide{
    display: none;
} 
.heart-color{
  color: red;
}

.bell-color{
  color: black;
}
.strike-text{
  text-decoration: line-through;
}
.signup-page{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* MIJI Styles */

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */

}

body{
    font-family:'Segoe UI', 'Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica, sans-serif;
   
   
    
    }
    /* HEADER AREA */
  #img1{
    padding-left:1em ;
  }
 
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #2d2d2d;
    
}
.navbar-default .navbar-nav>li>a {
  color: white;
}

#deal{
  margin-top: 1.0em;
  border:none;
}

.dropdown,.form-group{
  margin-top: 1em;
  padding-left: .5em;
}
.form-group{
  padding-right: 2em;
}
.icon{
  margin-top: 2em;
  padding-right: 1em;
}
.navbar{
  margin:0;
  border: none;
 }
 #headNav{
  background-color: #2D2D2D;
}
/* global anchor tag styling affecting bootstrap */
 /* a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
} */

a:hover{
    color:#D5896F;
}
/* i:hover{
  color:#525050;
} */
 /*Search Button*/
 .d-flex {
   position: relative;
  margin-left: 49em;
  margin-top: 1em;
  /* border-radius: 25px; */
  width:20em;
 }
 /* .btn-default
 {
  margin-left: 21em;
  margin-top: -4.5em;
  color: #BF2E48;
 } */
 #search-btn .form-control{
  border-radius: 25px;
  border: 3px solid #525050;}
  
  #close{
    border-radius: none;
  }
  .noti{
    text-align: center;
  }
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;

}
#display-products{
  max-width: 1300px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;

}
 .navbar-form{
   box-shadow: none;
   margin-right: 0px;
 }


 /* .form-control {
    padding-left: 2.375rem;
   
 }
 .feedback {
  position: absolute;
  z-index: 3;
  display: block;
 
  padding-bottom: 27px;
  padding-left: 23em;
  padding-top: 0.5em;
  line-height: 2.375rem;
  text-align: center;
  color: red;
 } */
 /* IMAGE SLIDE AREA */
 .image-slide img{
  width: 100%;

  position: relative;
  
}
 .slide-text{
  position: absolute;
    top: 30%;
    left: 50%;
    
    display: flex;
    flex-flow: column nowrap;
    /* border: 2px solid yellow; */
    align-items: center;
 } 
  .slide-text h1{
     color: gold;
     font-size: 4em;
      margin-right: -3em; 
     margin-top: 4.5em; 
     ;
 }

 
  .navbarToggle2{
    display: none;
}
  /* MEDIA QUERY */
  @media only screen and (max-width: 768px) {
    .navbar{
      flex-flow: column;
      align-items: center;
    }
    footer .footer-distributed > div:first-child{
      display: none;
  }
  footer .footer-distributed{
    display: flex;
    flex-flow: column;
  }
.searchTerm{
  margin-right: 20em;
  width:50%;
}
.search span {
  position: absolute;
  top: 25%;
  margin-right: 6em;}
  .slide-text {
    padding-top:20em;
    align-items: center;
    font-size: 10px;
}
}
#cat{
  color: white;
}
#cat:hover{
  color:#525050
}
 /* SUPPORT AREA */
.support-area{
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.support-area > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px solid blue;
}
.support-area img {
  width: 50px;
  margin-bottom: 1em;
}
.support-area .support-divider {
    border-right: 1px solid black;
    padding-right: 2em;
    padding-left: 2em;
}
/* DEALS AREA */
.deals {
  background: #fff;
  margin: 1rem 0;
  padding: 1.7rem;
  margin-top: 30px;
}

 .deals h4{
  text-align: center;
  font-size: 2em;
  color: gold;
}
.deal-container, .deal-container1 {
  position: relative;
  flex-basis: 30%;

}
#sigRow{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; 
}
.row{
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
}
.image-deals .column1{
  flex-basis: 30%;
  position: relative;
  
}
.foot{
  margin-top:30px;
  margin-bottom: 20px;

}

.product-grid img{
  width: 200px;
  height: 200px;
  overflow: hidden;
 
}
/* .product-grid:hover{
  opacity: 0.5;
} */
.product-grid{
  margin-top: 2em;
  overflow: hidden;
     position: relative;
    padding-left:1em;
    }
.product-grid:hover{
  transform: translateY(-5px);
}
    .nav {
      display: -ms-flexbox;
      display: flex;
      /* -ms-flex-wrap: wrap; */
      /* flex-wrap: wrap; */
      padding-left: 0;
      /* margin-bottom: 0; */
      list-style: none;
  }
/*Items*/
#nameTag, #save{
  padding-top: 1em;
  font-size: 14px;
}

.caption-tems{
  color: gray;
  padding-top: .5em;
}
#save{
   font-size: 15px;
   color: green;
}
a:link {
  text-decoration: none;
}
.getVendor,.getVendorLink {
  width: 40%;
  margin-bottom: 10px;
  /* padding: 0.5em 1em; */
  border: 1px solid black;
  background: #D4BB98;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2em;
} 

.product-grid .fa-trash { position: relative; bottom:1em; left: 18em; }
.product-grid span.like { position: relative; bottom:13em; right: 18em;}
.product-grid span {cursor: pointer;}
.product-grid #bell2 { position: relative; bottom:1em; left: 18em; }
.cont-head{
 background-color: white;
  width: 100%;
  border: 6px solid #D4BB98;
padding-bottom: 1em;
padding-top:.5em;
margin-bottom: 1em;
padding-left: 1em;
}


 /*modal login*/
 

.login-block {
  margin: 30px auto;
  min-height: 93.6vh
}


.modal-ola{
  background-color:  #2d2d2d;
}
.modal-ola h3{
  color: white;
  font-size: 20px;
}
.modal-body{
  background-color:#2d2d2d;
}
/* .modal-content{
  background-color: gray;
 
} */
.login-block .auth-box {
  margin: 20px auto 0;
  max-width: 450px !important
}

/* .card .card-block {
  padding: 1.25rem
} */


.f-80 {
  font-size: 80px
}

.form-group {
  margin-bottom: 1.25em
}

.form-material .form-control {
  display: inline-block;
  height: 43px;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 9px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px
}

.btn-primary {
  background-color: #4099ff;
  border-color: #4099ff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s
}


.m-b-20 {
  margin-bottom: 20px
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px
}

.heading {
  font-size: 21px
}

#infoMessage p {
  color: red !important
}

.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd
}

.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 25px 0
}

.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center
}
.mask {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: none;	
  z-index: 98;
  opacity: 0.8;
}
.modal-backdrop {
  z-index: -1;
}


.subscribe-area {
  background-image: linear-gradient(to top, #00c6fb 0%, gray 100%);
  }
  
  .pb-50 {
      padding-bottom: 10px;
  }
  .pt-70 {
      padding-top: 10px;
  }
  
  .mb-15 {
      margin-bottom: 15px;
  }
  
  .subscribe-text span {
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      letter-spacing: 5px;
  }
  .subscribe-text h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 300;
      margin-bottom: 0;
      margin-top: 6px;
  }
  .subscribe-wrapper {
      overflow: hidden;
  }
  .mb-15 {
      margin-bottom: 15px;
  }
 
  
  .subscribe2-wrapper .subscribe-form input {
      background: none;
      border: 1px solid #fff;
      border-radius: 30px;
      color: #fff;
      display: inline-block;
      font-size: 15px;
      font-weight: 300;
      height: 37px;
      margin-right: 17px;
      padding-left: 35px;
      width: 50%;
      cursor: pointer;
  }
   
  .subscribe2-wrapper .subscribe-form button {
      background: #ffff;
      border: none;
      border-radius: 30px;
      color: #4b5d73;
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      line-height: 1;
      padding: 10px 16px;
      transition: all 0.3s ease 0s;
      margin-top:1em;
  }
  .subscribe2-wrapper .subscribe-form button i {
      font-size: 18px;
      padding-left: 5px;
  }
  



 /* MAIN FOOTER */
 .copy{
   color: #8a8a8a;
 }


.footer-right>i {
  margin-left: 15px;
}

.fa-hand-holding-usd,.fa-globe,.fa-bars,.fa-handshake {
  color: #FFB74D;
} 
 


.card-title {
  margin-bottom: .75rem;
  font-weight: 900;
  font-size: 15px;
  margin-top: 1.75rem
}

.card-content a{
 
  font-size: 15px;
  margin-top: .58rem;

}


.fa-2x {
  color: #FFB74D
}

.card-content {
  padding-right: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  color:white;
}


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu {
    background-image: linear-gradient(to top, #00c6fb 10%, gray 100%);
  }
  .dropdown{
    font-size: 12px;
  
  }
  .dropdown a:hover {background-color: rgb(161, 146, 146);
  }
  
  
  .show {display: block;}


  /* .profile-div {
    background-color:whitesmoke;
    width: 100%;
   
    margin-bottom: 7px;
    height: auto;
    padding: 20px 15px 40px 15px;
    border-radius: 5px;
} */
/* #checkbox {
    display: none;
}
#checkbox:checked + table {
    display: block;
} */

