.user-icon {
    border-radius: 50%;
}
body{
    background-color: green;
}
#main-search {
    display: flex;
    flex-flow: row wrap;
}
.touch{
    color: red;
}
.strike-text{
    text-decoration: line-through;
}