*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family:'Segoe UI', 'Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica, sans-serif;
    background-color: whitesmoke;
    
    }
.container{
    display: flex;
    flex-flow: column;
    background-color: #2D2D2D;
}
.navbar{
  display: flex;
  padding: 1em;
  border: 2px solid blue;
  justify-content: space-between;
  }
  .navbarItems{
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    padding: 1em 1em 1em 5em; 
    background-color:#525050;
    font-family: Roboto;
     font-size: 0.7em;
     justify-content: space-between;
    }
 
.navbarBrand{
  cursor: pointer;
  padding-left: 2em;
  display: flex;
  align-items: flex-start;
  padding-bottom: 0.3em;
}
 a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
a:hover{
    color:#D5896F;
}
 /*Search Button*/
 .search {
   position: relative;
   border: 1px solid yellow;
  flex-basis: 40%;
 }

 .searchTerm {
  border: 3px solid #D5896F;
  border-radius: 25px;
   padding: 20px;
   text-align: center;
    font-size: 20px;
   height: 2px;
   width:100%;
   outline: none;
   color: #9DBFAF;
 }
 .searchTerm:focus{
  color:  #D5896F;
}
 .search span {
   position: absolute;
   right: 0.7em;
   top: 25%;
   color: #f00;
 }
 .navbarItems .alcat img {
   width: 20px;
 }
 
 
 
 /* .form-control {
    padding-left: 2.375rem;
   
 }
 .feedback {
  position: absolute;
  z-index: 3;
  display: block;
 
  padding-bottom: 27px;
  padding-left: 23em;
  padding-top: 0.5em;
  line-height: 2.375rem;
  text-align: center;
  color: red;
 } */
 .image-slide img{
  /* background-image: url("images/image15.png");
  background-size: cover;
  background-position: center;
  height: 25em; */
  width: 100%;
  position: relative;
  /* height: 40vh; */
}
 .slide-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid yellow;
    align-items: center;
 } 
  .slide-text h1{
     color: whitesmoke;
     font-size: 3em;
     /* padding-left: 2em; */
     /* padding-top: 1.5em; */
 }
 #text{
    color: whitesmoke;
    font-size: 2em;
    text-align: center;
    /* padding-left: 3em; */
    padding-top: 0.2em;
}
.getButton {
      width: 50%;
       /* margin-left: 10em; */
       margin-top: 1em;
       padding: 0.5em 1em;
      border: 1px solid #BF2E48;
      background: #BF2E48;
      text-align: center;
      color: #fff;
      border-radius: 5px 5px 5px 5px;
      cursor: pointer;
      font-size: 1.2em;
  }
 
  .navbarToggle2{
    display: none;
}
  
  @media only screen and (max-width: 768px) {
    .navbar{
      flex-flow: column;
      align-items: center;
    }
    /* .navbarItems,.navbar {
        flex-direction: column;
        padding-bottom: 30px; 
    }

    .navbarToggle2{
        display: none;
     
    } 
     .navbarToggleShow2{
        display: flex;
      }
.navbarToggle2{
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        padding-bottom: -5%;
        padding-left: 2em;
    }
    .navbarLink,.alweek{
      margin: 20px;
      margin-bottom: 1em;
      
    }
   .search {
    margin-right: 50em;
   width: 70%;
   position: relative;
   display: flex;
 }
    
   .feedback {
   margin-left: -7em;
  
   }
    .slide-text{
    display: none;
} */
 }
.support-area{
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.support-area > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px solid blue;
}
.support-area img {
  width: 50px;
  margin-bottom: 1em;
}
.support-area .support-divider {
    border-right: 1px solid black;
    padding-right: 2em;
    padding-left: 2em;
}
.deals {
  background: #fff;
  margin: 1rem 0;
  padding: 1.7rem;
}
.deals h4{
  text-align: center;
}
.row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.image-deals .column1{
  flex-basis: 30%;
  position: relative;
}
.image-deals .column1 p{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}
.product-grid img{
  width: 300px;
  height: 250px;
}
/* .slide-text{
    display: none;
}
   .row.vertical-divider {
    overflow: hidden;
  
    
  }
  .text1{
    margin-right: 2em;
  }
  .text2{
    margin-left: 1em;
    
  }
  .text {
     margin-left:3em;
    }
    p ,h5{
      text-align: center;
    }
  .row.vertical-divider > div[class^="col-"] {
    text-align: center;
    padding-bottom: 100px;
    padding-left: 1em;
    margin-bottom: -100px;
    border-left: 3px solid #F2F7F9;
    border-right: 3px solid #F2F7F9;
    margin-left: 4em;
  }
  .row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
    margin-left: 11em;
   
  }
  .row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
  
  } */


 /*Today's deal*/
/* .cont-deals{
    padding-left: 0.5em;
    margin-top:1em;
    background-color: white;
    border-radius: 5px 10px; 
    margin-left: 1em;
    height: 40em;
    
  }
  
  .cont-deals h4{
    color: #000;
    padding-left: 5px;
    padding-top: 20px;
    margin: 10px; 
    font-size: 30px;
    text-align: center;
   
  }
 
  hr{
  
    margin-left: 2em;
    margin-right: 2em;
  
  }
  .priceTag, #nameTag, #save{
    padding-top: .5em;
    
  }
 
  .caption{
    display: block;
    font-size: 20px;
}
  .caption h6{
    color: gray;
    padding-top: .5em;
  }
  
 #save{
     font-size: 15px;
     color: green;
 }
  .product-grid1{
    overflow: hidden;
     position: relative;
     border: 4px solid white;
     margin-top: 10px;
     padding-right: -70em;
     padding-top: 3px;
     margin-left: 2em;
     padding-right: 2px;
   }
 
   .column-grid2{
    overflow: hidden;
    position: relative;
    border: 4px solid white;
    margin-top: 10px;
    padding-left: 1em;
}
.row {
    display: flex;
    flex-wrap: wrap;
  }
  .product-grid1:hover{
    opacity: 0.5;
  }
  .column-grid2:hover{
    opacity: 0.5;
  }
   
.image-deals{
    padding-top:1.5em ;
}
  .column1 {
    float: left;
    width: 33.33%;
    padding: 0.1px;
  }
  
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }

  #image-text,#image-text1,#image-text2{
    position: absolute;
    top:  80em;
    padding-bottom: 15em;
    padding-left: 5em;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
 } 
 #image-text1{
    padding-left: 35em;} 
 #image-text2{
    padding-left: 65em;
 }
 #image-text h1{
     color: whitesmoke;
     font-size: 49px;
     padding-left: 2em;
     padding-top: 1.5em;
 } */

.subscribe{
  display: flex;
  background: #fff;
  margin: 1rem 0;
  padding: 1.7rem;
  justify-content: space-between;
}
.subscribe .subscribe-text{
  flex-basis: 50%;
  /* border: 2px solid chocolate; */
}
.subscribe .subscribe-form{
  flex-basis: 50%;
  /* border: 2px solid chocolate; */
  text-align: end;
}
.subscribe .subscribe-form input{
   padding: 0.5rem;
   width: 80%;
   border-color: gray;
   border-radius: 5px;
   outline: none;
}
.subscribe .subscribe-form button{
  background-color:#BF2E48;
  color:white;
  padding: 0.5rem;
  border: none;
}

/*sub-footer*/
/* .sub-footer{
    padding-top: 2em;
    padding-left:2em;
    height:7em;
}
.search-footer {
    padding-left: -20em;
  position: relative;
   display: flex;
   padding-bottom: 60em;
  
 }

 #signup{
     margin-left: .5em;
     margin-right: .5em;
     padding-left: .2em;
     padding-right: .2em;
  background-color:#BF2E48;
  color:white;

 
    
 }
 .searchTerm1{
    border: 1px solid gray;
    border-right: none;
    padding: 30px;
    padding-left: 3em;
    font-size: 20px;
    height: 1em;
    width:40em;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
 }
 */
footer {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  /* font: bold 16px sans-serif; */
  padding: 1rem;
 }
footer .footer-distributed{
  display: flex;
}
footer .footer-distributed > div{
  flex-basis: 33.33%;
  border: 2px solid yellow;
}
footer .footer-contact p{
  border: 2px solid yellow;
}
footer .footer-contact i{
  background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;  
}
/* .footer{
    clear: both;
}

   .footer-distributed{
      background: #666;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  
  }
  .footer-left{
      padding-left: 5em;
  }
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }  */
  
  /* Footer left */
  
  /* .footer-distributed .footer-left{
      width: 40%;
  }

  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
   */
  /* Footer Center */
  
  /* .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;;
  } */
  

  
  
  /* Footer Right */
  
  /* .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 15px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }

    #copy{
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #fff; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
        padding-top:4em;
     } 
     
     #copy span { 
         background-color: #222;
        padding:2px 10px; 
    } */
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  /* @media (max-width: 880px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }
   */


